<app-sidebar></app-sidebar>
<main class="main-categoria">
  <div class="title"><h1>Adicionar Tags</h1></div>

  <div class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="successMessage" *ngIf="successMessage">{{successMessage}}</div>

  <form class="form-categoria" method="post">
    <div class="w80"><p>Nome: </p><input type="text" name="nome" maxlength="100" [(ngModel)]='newCategory'></div>
    <div class="w20"><input type="submit" value="Salvar" (click)="createCategory()"></div>
  </form> <!-- form-categoria -->

  <div class="list"><h2>Tags</h2></div>

  <div class="list-categorias" *ngIf="categories; else noCategories">
    <div class="categoria" *ngFor="let cat of categories.categories">
        <div class="cat-nome">{{cat.nome}}</div>
        <div class="delete"><a (click)="deleteCategory(cat.id_categoria)">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
          </svg>
          Deletar</a></div>
    </div> <!-- categoria -->

  </div> <!-- list-categoria -->

  <ng-template #noCategories>
    <div class="not-exist">Não existem categorias</div>
  </ng-template>
</main> <!-- main-categoria -->
