.catalogo {
  padding-top: 40px;
  width:100% ;
  height: 100vh;
}

.catalogo .title h2{
  font-family: var(--fontPrinc);
  font-weight: 500;
  font-size: 36px;
}

.catalogo .add-produto{
  padding: 20px 0 50px 0;
}

.catalogo .add-produto a button{
  width: 100%;
  max-width: 180px;
  font-size: 15px;
  color: var(--main-text-white);
  background-color: var(--main-bg-yellow);
  letter-spacing: 0.75px;
  padding: 15px 0;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}

.catalogo .add-produto a button:hover{
  background-color: var(--main-bg-yellow-hover);
}

.catalogo .not-exist{
  font-weight: 400;
  font-size: 30px;
}

.catalogo .lista-produtos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.produto{
  width: 100%;
  max-width: 340px;
  margin: 10px 5px;
  border-radius: 30px;
  box-shadow: 6px 5px 3px -3px rgba(0,0,0,0.58);
}

.produto .img-produto{
  width: 100%;
  height: 200px;
  background-color: #ccc;
  border-radius: 30px 30px 0 0;

}

.produto .img-produto img{
  width: 100%;
  height: 200px;
  border-radius: 30px 30px 0 0;
}

.produto .nome-preco{
  width: 100%;
  padding: 10px 18px;
}

.produto .nome-preco .nome h3{
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}

.produto .nome-preco .preco{
  font-size: 18px;

}

.produto .categoria-avaliacao{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
  font-size: 17px;
}

.produto .categoria-avaliacao .categoria{
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--bg-yellow-light);
  color: #BB810F;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.produto .categoria-avaliacao .categoria i{
  font-size: 20px;
  transform: rotate(300deg);
  margin-right: 3px;
}



.produto .categoria-avaliacao .editar {
  cursor: pointer;
}

.produto .categoria-avaliacao .editar:hover {
  border-bottom: 2px solid #007FFF;
}

.produto .categoria-avaliacao .editar i {
  margin-right: 5px;
}

.produto .categoria-avaliacao .editar span{
  position: relative;
  left: -3px;

}

.produto .categoria-avaliacao .editar a{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #007FFF;
}


@media screen and (max-width: 1060px){
  .produto{
      width: 100%;
      max-width: 280px;
  }

  .produto .nome-preco .nome h3{
      font-size: 16px;

  }

  .produto .nome-preco .preco{
      font-size: 15px;

  }

  .produto .categoria-avaliacao{
      font-size: 15px;
  }

}

@media screen and (max-width: 900px){
  .produto{
      width: 100%;
      max-width: 340px;
  }

  .produto .nome-preco .nome h3{
      font-size: 19px;

  }

  .produto .nome-preco .preco{
      font-size: 18px;

  }

  .produto .categoria-avaliacao{
      font-size: 17px;
  }

  .catalogo .title h2{
      text-align: center;
      font-size: 30px;
  }

  .catalogo .add-produto{
      text-align: center;
  }

  .catalogo .add-produto a button{
      max-width: 160px;
      font-size: 14px;
      padding: 12px 0;
  }

  .catalogo .not-exist{
    text-align: center;
  }

}

@media screen and (max-width: 760px){
  .produto{
      width: 100%;
      max-width: 400px;
  }

}

@media screen and (max-width: 320px){

  .produto .nome-preco .nome h3{
      font-size: 16px;

  }

  .produto .nome-preco .preco{
      font-size: 15px;

  }

  .produto .categoria-avaliacao{
      font-size: 15px;
  }

}
