<app-sidebar></app-sidebar>
<main>
  <div class="catalogo">

      <div class="title"><h2>Que tal adicionar um novo produto?</h2></div>
      <div class="add-produto"><a routerLink="/addproduto"><button>Adicionar Produto</button></a></div>
      <div class="lista-produtos" *ngIf='asProducts; else notProducts'>
        <div class="produto">
            <div class="img-produto"><img src="https://storage.googleapis.com/quantum-ether-335121.appspot.com/" alt=""></div>

            <div class="nome-preco">
              <div class="nome"><h3></h3></div>
              <div class="preco">R$ </div>
            </div> <!-- nome-preco -->

            <div class="categoria-avaliacao">
              <div class="categoria"><img src="/images/tag.png"></div>
              <div class="editar"><a routerLink="editproduto/"><img src="/images/edit.png"><span>Editar</span></a></div>
            </div> <!-- categoria-avaliacao -->
          </div> <!-- produto -->
        </div> <!-- lista-produtos -->

        <ng-template #notProducts>
          <div class="not-exist">Sem produtos cadastrados</div>
        </ng-template>

  </div> <!-- catalogo -->
</main>

