<div class="bg-login">
<div class="login-center">
    <div class="img-logo"><img src="assets/images/logo.png" alt="logo"></div>
    <div class="logo-name"><img src="assets/images/logo-name.png" alt="psgad"></div>
    <p>Admin</p>

    <form>
        <h2>Para continuar, faça seu login</h2>
        <input type="email" name="email" class="input" placeholder="Login">
        <div class="senha"><input type="password" id="password" name="senha" class="input" placeholder="Senha">
            <button id="mostrar" type="button">Mostrar</button>
        </div>
        <a href="/recovery">Esqueceu a senha?</a>
        <input type="button" value="Entrar">
    </form>
</div>
</div>
