<app-sidebar></app-sidebar>
<main class="balanco-de-vendas">
  <div class="title"><h2>Balanço de Vendas</h2></div>

  <div class="container-graphic">
      <div class="graphic">
          <canvas id="myChart"></canvas>
      </div>

      <div class="statistic">
          <h2><strong>R$ 303</strong></h2>
          <p>Foi a renda total do mês atual.</p>
      </div>
  </div>

  <div class="container-statistic">
      <div class="item-statistic">
          <h3><strong>23</strong></h3>
          <p>vendas feitas nesse mês.</p>
      </div>

      <div class="item-statistic">
          <h3><strong>20%</strong></h3>
          <p>maior ás vendas do mês anterior.</p>
      </div>

      <div class="item-statistic">
          <h3><strong>50%</strong></h3>
          <p>do total de vendas, foi do produto <strong>Macarrão</strong></p>
      </div>

  </div>
</main>

