.main-home{
  width: 100%;
}

.main-home .title h1{
  padding-top: 30px;
  font-size: 40px;
  font-weight: 500;
}

.main-home .compras .title h2{
  margin-top: 100px;
  font-size: 28px;
  font-weight: 500;
}

.main-home .table-pedidos{
  width: 100%;
  margin-top: 40px;
}

.main-home .table-pedidos th{
  width: 27%;
  padding: 0 2%;
  text-align: center;
  vertical-align: text-top;
  padding-bottom: 20px;
}

.main-home .table-pedidos th:first-of-type{
  width: 19%;
}

.main-home .table-pedidos td {
  padding: 5px 0;
  text-align: center;
  vertical-align: text-top;
  border-bottom: 1px solid #ccc;
}

.main-home .sem-pedidos{
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  margin-top: 30px;
}

@media screen and (max-width: 1060px){
  .main-home .title h1{
      font-size: 34px;
  }

  .main-home .compras .title h2{
      font-size: 24px;
  }

  .main-home .sem-pedidos{
      font-size: 26px;
  }


}

@media screen and (max-width: 900px){
  .main-home .title h1{
      text-align: center;
  }

  .main-home .compras .title h2{
      text-align: center;
  }

  .main-home .sem-pedidos{
      text-align: center;
  }
}

@media screen and (max-width: 480px){
  .main-home .title h1{
      font-size: 30px;
  }

  .main-home .compras .title h2{
      margin-top: 60px;
      font-size: 22px;
  }

  .main-home .sem-pedidos{
      font-size: 24px;
  }

  .main-home .table-pedidos th{
      font-size: 14px;
  }

  .main-home .table-pedidos td {
      font-size: 14px;
  }
}
