<app-sidebar></app-sidebar>
<main>
  <div class="main-home">
    <div class="title"><h1>Bem vindo de volta :)</h1></div>

  <div class="compras">
    <div class="title"><h2>Compras pendentes</h2></div>
  </div> <!-- compras -->

  <table class="table-pedidos" *ngIf="haveOrders; else noOrders">
    <thead>
      <th>ID</th>
      <th>Nome do cliente</th>
      <th>Tempo de Espera</th>
      <th>Valor Total</th>
    </thead>

    <tbody *ngFor="let order of orders.pedidos">
      <td>#{{order.id_pedido}}</td>
      <td>{{order.nome}}</td>
      <td>{{order.data_pedido}}</td>
      <td>R$ {{order.valor_total}}</td>
    </tbody>
  </table> <!-- table-pedidos -->

  <ng-template #noOrders>
    <div class="sem-pedidos">Não há nenhum pedido pendente</div>
  </ng-template>

</div> <!-- main-home -->
</main>
