<app-sidebar></app-sidebar>
<main>
  <div class="main-home">
    <div class="title"><h1>Bem vindo de volta :)</h1></div>

  <div class="compras">
    <div class="title"><h2>Compras pendentes</h2></div>
  </div> <!-- compras -->

 <!--  <div class="sem-pedidos">Não há nenhum pedido pendente</div> -->

  <table class="table-pedidos">
    <thead>
      <th>ID</th>
      <th>Nome do cliente</th>
      <th>Tempo de Espera</th>
      <th>Valor Total</th>
    </thead>

    <tbody>
      <td>#243</td>
      <td>Patrick</td>
      <td>2 meses</td>
      <td>R$ 14,90</td>
    </tbody>
  </table> <!-- table-pedidos -->

</div> <!-- main-home -->
</main>
