<div class="menu-mobile-sidebar">
  <div class="icon-menu" (click)="showHideMenu()"><i class="material-icons">menu</i></div>
  <div class="logo-menu"><img src="assets/images/logo-name.png" alt="PSGAD"></div>
</div> <!-- menu-mobile-sidebar -->

<section class="sidebar" #sidebar>
  <div>
      <div class="img-logo"><img src="assets/images/logo.png" alt="PSGAD"></div>
      <div class="logo"><img src="assets/images/logo-name.png" alt="PSGAD"></div>

          <nav class="menu-sidebar">
              <ul>
                  <li><a routerLink="/">Compras Pendentes</a></li>
                  <li><a routerLink="/">Catálogo</a></li>
                  <li><a routerLink="/">Balanço de vendas</a></li>
                  <li><a routerLink="/">Estatísticas(*)</a></li>
                  <li><a routerLink="/">Ajuda</a></li>
              </ul>
          </nav> <!-- menu-sidebar -->
  </div>
      <footer (click)="logout()"><p>Sair <i class="material-icons">exit_to_app</i> </p></footer>
</section>
